<a href="https://colab.research.google.com/github/AaryanSharma/Detecting-Depression-through-Tweets/blob/main/Week1_Task_1_and_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import string
import re
import nltk

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Detecting-Depression/Sentiment Analysis Dataset 2.csv',on_bad_lines ='skip')

In [ ]:
df.head()

,ItemID,Sentiment,SentimentSource,SentimentText
0,1,0,Sentiment140,is so sad for my APL frie...
1,2,0,Sentiment140,I missed the New Moon trail...
2,3,1,Sentiment140,omg its already 7:30 :O
3,4,0,Sentiment140,.. Omgaga. Im sooo im gunna CRy. I'...
4,5,0,Sentiment140,i think mi bf is cheating on me!!! ...

In [ ]:
df.isnull().sum()

ItemID             0
Sentiment          0
SentimentSource    0
SentimentText      0
dtype: int64

In [ ]:
df=df.drop(['ItemID', 'SentimentSource'], axis=1)

In [ ]:
df['SentimentText'] = df['SentimentText'].str.replace('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '', regex=True)

In [ ]:
def remove_punctuation(df):
    punctuationfree="".join([i for i in df if i not in string.punctuation])
    return punctuationfree

df['SentimentText']= df['SentimentText'].apply(lambda x:remove_punctuation(x))

In [ ]:
df['SentimentText']= df['SentimentText'].apply(lambda x: x.lower())

In [ ]:
nltk.download('punkt')

def tokenization(text):
    words = nltk.word_tokenize(text)
    return words

df['SentimentText']= df['SentimentText'].apply(lambda x: tokenization(x))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
nltk.download('stopwords')

stopwords = nltk.corpus.stopwords.words('english')

def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

df['SentimentText']= df['SentimentText'].apply(lambda x:remove_stopwords(x))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
porter_stemmer = PorterStemmer()

def stemming(text):
    stem_text = [porter_stemmer.stem(word) for word in text]
    return stem_text

df['msg_stemmed']=df['SentimentText'].apply(lambda x: stemming(x))

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

wordnet_lemmatizer = WordNetLemmatizer()

def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text
df['msg_lemmatized']=df['SentimentText'].apply(lambda x:lemmatizer(x))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [ ]:
df.head()

,Sentiment,SentimentText,msg_stemmed,msg_lemmatized
0,0,"[sad, apl, friend]","[sad, apl, friend]","[sad, apl, friend]"
1,0,"[missed, new, moon, trailer]","[miss, new, moon, trailer]","[missed, new, moon, trailer]"
2,1,"[omg, already, 730]","[omg, alreadi, 730]","[omg, already, 730]"
3,0,"[omgaga, im, sooo, im, gunna, cry, ive, dentis...","[omgaga, im, sooo, im, gunna, cri, ive, dentis...","[omgaga, im, sooo, im, gunna, cry, ive, dentis..."
4,0,"[think, mi, bf, cheating, tt]","[think, mi, bf, cheat, tt]","[think, mi, bf, cheating, tt]"